#rutas{
    margin: 20px;
    text-align: center;
}

#rutas h5{
    text-align: center;
}
p{
    font-family: 'Courier New', Courier, monospace;
}

h5{
    display: inline-block;
    text-align: center;
    background-color: black;
    padding:5px;
    
}

